/* Color names as classes */
.red {color: #FF0000;}
.green {color: #008000;}
.blue {color: #0000FF;}
.yellow {color: #FFFF00;}

/* Imitate footer CSS style in custom footer */
div.footer_custom {
  background-color: #EEE8D5;
  text-align: center;
}
div.footer_custom p.copyright {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
a[rel="license"] {color: #404040;}

/* figure rendering */
figure.mysvg div.img img {
  width: 80%;
}

div.HTMLembedded {
  font-size: 14px;
  border: 1px solid #93A1A1;
  padding: 5px;
}
div.HTMLembedded table tr td {
  border: 0;
  padding: 0;
}
